<h1>5k Races</h1>

  <ul><% @races.each do |race| %>
    <li>"<%= race.food %>" -<a href="/users/<%= race.user.slug %>"><%= race.user.username %></a><br>
    At <a href="/cities/<%= race.city.slug %>"><%= race.city.name %></a></li>
    <% end %></ul>
