<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @user.name %><h1>
  <h2><%= @user.username %></h2>

  <br></br>

  <h3>Races</h3>
  <ol><% @user.races.each do |race| %>
    <li><%= race.type %> race from <%= race.time %> at <a href="/locations/<%= race.city.slug %>"><%= race.city.name %></a><br>
      "<%= race.food %>"</li>
      <a href="/races/<%= race.id %>">Edit or delete</a>
    <% end %></ol>
