

  <br></br>

  <h3>Races within <%= @city.name %>:</h3>
  <% @city.races.each do |race| %>
    "<%= race.food %>" -<a href="/users/<%= race.user.slug %>"><%= race.user.username %></a><br>
    <%= race.date %>, <%= race.time %> minutes<br>
    <% end %>