<h1><%= @city.name %><h1>
  <h2><%= @city.state %></h2>

  <br></br>

  <h3>Visitors:</h3>
  <ul><% @city.races.each do |race| %>
    <li>"<%= race.food %>" -<a href="/users/<%= race.user.slug %>"><%= race.user.username %></a><br>
    <%= race.type %>, <%= race.time %></li>
    <% end %></ul>
