

  <br></br>

  <h3>Races within <%= @city.name %>, <%= @city.state %>:</h3>
  
  <% @city.races.each do |race| %>
    "<%= race.name %>" -<a href="/users/<%= race.user.slug %>"><%= race.user.name %></a><br>
    Ran on <%= race.date %>, within <%= race.time %> minutes<br>
  <% end %>